.carY {
  width: 25px;
  height: 80px;
  position: absolute;

  .carBack {
    color: yellow;
    background-color: blueviolet;
    text-align: center;
    word-break: break-all;
    display: flex;
    align-items: center;
    height: 60px;
  }

  .carFront {
    background-color: greenyellow;
    height: 20px;
  }
}

.invicible {
  display: none;
}
